:root {
    --colour1:  #b1cdff;
}

body {
    background-color: var(--colour1);
    color: black;
   text-align: center;
}

header {
    position: fixed;
    z-index: 11;
}

.jumbotron {

    /* background-image: url(../images/Waves.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 5px solid black;

}




.lead {
    font-weight: 400;
}

#mug {

    
    height: 400px;
    width: 400px;
    padding: 5px;
    background-image: url(../images/My_Mug.jpg);
    background-size: cover;
    background-position: 0 100%;
    background-repeat: no-repeat;
}

#intro {
    
    background-color: var(--colour1);
    padding: 22px;
}

#introText {
    
    font-weight: 400;
}


/* card controls */
.card {
    margin-bottom: 25px;
    background-color: var( #b1cdff);
    border: black solid 2px;
    transition: all 0.6s;
}

.card:hover {
    transform: scale(1.01);
}

.card:hover .card-title {
    display: none;
}
.card:hover .card-main {
    display: block;
    }
.card-main {
    display: none;
}

/* card classes for sizing */
.port1 {
    height: 450px;
}
.port2 {
    height:380px;
}
.port3 {
    height: 250px;
}
footer{
    
    background: url(../images/Waves.jpg)  bottom ;
    background-size: cover;
    height: 150px !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer div ul li a:hover{
    font-size: 130%;
}
a {
    text-decoration: none;
}


/* @media screen {
    
} */