body {
    background-color: #b1cdff ;
}

header {
    position: fixed;
    z-index: 11;
}

.jumbotron {

    background-image: url(../images/Waves.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



/* .jumboFlex {
    margin: 0 50px;
    display: flex;
    justify-content: space-between; */
/* } */
.lead {
    font-weight: 400;
}

#mug {

    /* justify-content: end; */
    /* width: 250px; */
    height: 400px;
    width: 400px;
    padding: 5px;
    background-image: url(../images/My_Mug.jpg);
    background-size: cover;
    background-position: 0 100%;
    background-repeat: no-repeat;
}

#intro {
    /* background-color: rgba(255, 255, 255, 0.53); */
    background-color: rgba(177, 206, 255, 0.563);
    padding: 16px;
}
#introTop {
    display: flex;
}
#introText {
    
    font-weight: 400;
}

.card {
    margin-bottom: 25px;
    background-color: rgb(199, 199, 199);
    border: black solid 2px;
    border-radius: 0 0 20px 20px;
    transition: all 0.6s;
}

.card:hover {
    transform: scale(1.05);

}
.port1 {
    height: 450px;
}
.port2 {
    height:380px;
}
.port3 {
    height: 250px;
}

/* @media screen {
    
} */